<section class="panel panel-default" id="schedule-menu">

  <ul class="panel-body list-unstyled">
    <li class="list-item">
      <label class="item-head">My Hotel:</label>
      Hotel 1
      <button class="btn-xs btn-danger">x</button>
    </li>

    <li class="list-item">
      <label class="item-head">My Restaurant:</label>
      Restaurant 1
      <button class="btn-xs btn-danger">x</button>
    </li>

    <li class="list-item">
      <label class="item-head">My Activity:</label>
      <span class="schedule-item">Activity 1</span>
      <button class="btn-xs btn-danger">x</button>
    </li>
  </ul>

</section>
