<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>TripPlanner - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/stylesheets/styles.css"/>
  </head>
  <body>
    <h1 id="headline">TripPlanner</h1>

    <nav></nav>

    <section class="container">
      {% block content %}
      <!-- content goes here -->
      {% endblock %}
    </section>

    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/jquery/jquery.min.js"></script>
  </body>
</html>
