<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>TripPlanner - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/stylesheets/styles.css"/>
  </head>
  <body>
    <nav class="navbar navbar-light" id="navigation">
      <h1 id="headline"><a href="/" class="navbar-brand"><span class="glyphicon glyphicon-plane"></span> TripPlanner</a></h1>

      <ul class="navbar-nav list-unstyled navbar-text">
        <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link">About</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
      </ul>
    </nav>

    <main class="container">
      {% block content %}
      <!-- content goes here -->
      {% endblock %}
    </main>

    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/jquery/jquery.min.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_API_KEY }}&sensor=true"></script>
    <script src="../public/js/index.js"></script>
  </body>
</html>
