body {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 16px;
}

a:hover {
  text-decoration: none;
}

#nav {
  background-color: #84A98C;
}

#headline {
  a {
    color: #000;
  }
  font-size: 2.125em;
  padding: 0 40px;
}

// menus

// dark purple: 52489C

#options-menu {
  background-color: #CAD2C5;
}

#day-menu {
  background-color: #EBEBEB;
}

#schedule-menu {
  background-color: #59C3C3;
}

label,
option {
  display: block;
}

select {
  width: 240px;
}

.list-item {
  padding-bottom: 20px;
}

.list-item:last-child {
  padding-bottom: none;
}

.item-head {
  // color: #52489C;
}


