body {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: #222222;
  font-size: 16px;
}

a:hover {
  color: #8789c0;
  text-decoration: none;
}

// navbar
$navlink: #3A015C;

#headline {
  margin: 0;
  padding: 0 40px;
}
#navigation {
  background-color: #fafafa;
}
.navbar-brand {
  color: $navlink;
}
.nav-link {
  color: $navlink;
  padding-right: 30px;
}

// menus
label,
option {
  display: block;
}
select {
  width: 240px;
}
#options-menu {
  background-color: #bbcde5;;
}
#day-menu {
  background-color: #e6e8e6;
}
#schedule-menu {
  background-color: #92dce5;
}
.panel-body {
  margin: 0;
}
.list-item {
  padding-bottom: 20px;
}
.list-item:last-child {
  padding-bottom: none;
}

// map

#map {
  height: 86%;
}
